<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PTTextViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D06612EA1CCA34EB000C01C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06613031CCA34EB000C01C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D066130E1CCA34EB000C01C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
